#login-form div{
  x-display: grid;
  x-justify-content: center;
}

.label{
  width: 200px;
  display: inline-block;
}
span.label::after {
  content: ":";
}
span.input::before {
  content: ":";
}
