<p>login works!</p>
<form novalidate [formGroup]="loginUserForm" (ngSubmit)="onSubmit()" *ngIf="!userLoggedIn" >
  <div id="login-form">
  <div>
    <span for="" class="label">Username</span>
    <span class="input"><input type="text" formControlName="username" ></span>
  </div>
  <div>
    <span for="" class="label">Password </span>
    <span class="input"><input type="password" formControlName="password" class="input"></span>
  </div>
  <div>
    <button>Login</button>
  </div>
</div>
</form>
<button (click)="logout()">Logout</button>
