<p>reactiv works!</p>
<form [formGroup]="signupForm" (submit)="onSubmit()">
  <div>
    <label for="">Email :</label><input type="email" name="email" required
    formControlName="email"
    >
    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
      Please fill the valid email address
    </span>
  </div>
  <div>
    <label for="">Learn :</label><select name="learn" id="learn" required
    formControlName="learn"
    >
      <option *ngFor="let option of learningOptions" [value]="option">{{option}}</option>
    </select>
  </div>
  <div>
    <label for="">Pass :</label>
    <input type="password" name="pass" required
    formControlName="pass"
    >
  </div>
  <button>Submit</button>

  <div *ngIf="isSubmitted">
    {{userData | json}}
  </div>
</form>
