<p>Todos</p>
<div>
  <div *ngFor="let todo of todos">
    <!-- <input type="text"  disabled []="todo.checked"> -->
    <!-- <span>{{todo | json}}</span> -->
    <input type="checkbox" [checked]="todo.checked">
    <span for="" contentEditable>{{todo.desc}}</span>
  </div>
  <div *ngFor="let todo of todosAsync$ | async">
    <!-- <input type="text"  disabled []="todo.checked"> -->
    <!-- <span>{{todo | json}}</span> -->
    <input type="checkbox" [checked]="todo.checked">
    <span for="" contentEditable>{{todo.desc}}</span>
  </div>
  <!-- <button (click)="todoAddSubmit(tForm)"> Add Todo Submit</button> -->

  <div>
    <form #tForm="ngForm" (submit)="todoAddSubmit(tForm)">
      <div *ngIf="addTodoInitiated && !addTodoFormSubmitted">
        <input type="text" disabled name="id" ngModel>
        <input type="checkbox" name="checked" ngModel>
        <input type="text" name="desc" ngModel>
        <button>Add</button>
      </div>
    </form>
    <button (click)="showTodoForm()">Add new Todo</button>
  </div>
<button (click)="updateTodo()">Update Value1</button>
</div>

<!-- <button (click)="getAllTodosFromSirestore()">Firestore</button> -->
